@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');


$color-background:          #222222;
$color-dark-grey:           #505050;
$color-black:               #202020;
$color-blue:                #069;
$color-white:               #DDDDDD;
$color-grey:                #A4A4A4;
$bright-gray:               #CCCCCC;
